<!DOCTYPE html>
<html lang="de">
	<head>
		<title>404</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<h1 id="blauH1">404</h1>
		<h2 id="blauH2">Error: Page not found</h2>
	</body>
</html>
