<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Strateg.io</title>
		<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<link rel="shortcut icon" href="Logo.png">
				<meta name="description"
					content="a Real-Time-Strategy (RTS) Game with simple io commands and logic to run in your browser">
				<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<%- include("includes/nav.ejs") %>
		<body>	
			<div id="highscore">	
				<h1>Highscore</h1>
			</div>	
			<div class="wrapper">
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>Nickname</th>
							<th>Points</th>
							<th>Ressourcen</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>Vannybunny</td>
							<td>10000000</td>
							<td>500 Holz</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Ceddybackstreet boys</td>
							<td>7000</td>
							<td>10 Fische</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Marcimarc</td>
							<td>5000</td>
							<td>3 Stein</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>Jannickelback</td>
							<td>5</td>
							<td>1 Essen</td>
						</tr>
					</tbody>
				</table>
			</div>
		</body>
</html>

